<%= render 'shared/navbar' %>
<div class="container">
 <section class="d-flex justify-content-around">
   <div id="stats" class="p-2">
     <p>$1.300.000</p>
     <span>Today</span>
   </div>
   <div id="stats" class="p-2">
     <p>$1.300.000</p>
     <span>Today</span>
   </div>
   <div id="stats" class="p-2">
     <p>$1.300.000</p>
     <span>Today</span>
   </div>
   <div id="stats" class="p-2">
     <p>$1.300.000</p>
     <span>Today</span>
   </div>
 </section>
 <section class="d-flex justify-content-around flex-wrap">
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
   <div class="graphs"><img src="http://3.bp.blogspot.com/_9xxJMmrkNnU/Ss_aqJPptkI/AAAAAAAAAgk/H0zXVNxYHa8/s400/Diapositiva8.jpg" alt=""></div>
 </section>
</div>
