<nav>
<a>Budget Manager</a> |
<a><%= link_to 'Dashboard', dashboard_index_path%></a> |
<a >Expenses</a>
</nav>
<div class="container">
  <section>
    <div>
      <p></p>
      <span></span>
    </div>
    <div>
      <p></p>
      <span></span>
    </div>
    <div>
      <p></p>
      <span></span>
    </div>
    <div>
      <p></p>
      <span></span>
    </div>
  </section>
  
</div>
