// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transaction-type ul .list-group-item, .category ul .list-group-item{
  background-color: #36343d;
  color: white;
  border: 1px solid #ccc;
}

#margin_buttons {
  margin-top: 10px;
  margin-bottom: 30px;
}

.transactiontable {
  font-size: 20px;
}

.container .row .transaction-type{
  margin-top: 50px;
}

.show_date {
  font-size: 20px;
  color: #efc050;
}

#stats {
  margin-bottom: 20px;
}
